.pink {
  background-color: pink;
  border-radius: 5px;
}
.grey {
  background-color: grey;
  border-radius: 5px;
}
.green {
  background-color: green;
  border-radius: 5px;
}
.yellow {
  background-color: yellow;
  border-radius: 5px;
}
.box {
  display: flex;
}
.box li {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  line-height: 250px;
}
.box:last-child {
  margin-right: 0px;
}
ul li {
  float: left;
  list-style: none;
}
.mtb-15 {
  margin-top: 15px;
}
.d-flex {
  display: flex;
}
