

.pink {
    background-color: pink;
}
.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.box {
    display: flex;

    li {
        width: 250px;
        height: 250px;
        margin-right: 10px;
        line-height: 250px;
    }

    &:last-child {
        margin-right: 0px;
    }

}

ul {
    li {
        float: left;
        list-style: none;
    }
}

.mtb-15 {
    margin-top: 15px;
}

.d-flex {
    display: flex;

}