each(range(30), {

    .p-@{value} {
        padding: @value * 1px;
    };

    .mt-@{value} {
        margin-top: @value * 1px;
    };

	.mb-@{value} {
		margin-bottom: @value * 1px;		// * 1px for get result: 1px, 2px, ...
	}

    .mtb-@{value} {
        margin-top: @value * 1px;
    };
});
