.p-1 {
  padding: 1px;
}
.mt-1 {
  margin-top: 1px;
}
.mb-1 {
  margin-bottom: 1px;
}
.mtb-1 {
  margin-top: 1px;
}
.p-2 {
  padding: 2px;
}
.mt-2 {
  margin-top: 2px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mtb-2 {
  margin-top: 2px;
}
.p-3 {
  padding: 3px;
}
.mt-3 {
  margin-top: 3px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mtb-3 {
  margin-top: 3px;
}
.p-4 {
  padding: 4px;
}
.mt-4 {
  margin-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mtb-4 {
  margin-top: 4px;
}
.p-5 {
  padding: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mtb-5 {
  margin-top: 5px;
}
.p-6 {
  padding: 6px;
}
.mt-6 {
  margin-top: 6px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mtb-6 {
  margin-top: 6px;
}
.p-7 {
  padding: 7px;
}
.mt-7 {
  margin-top: 7px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mtb-7 {
  margin-top: 7px;
}
.p-8 {
  padding: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mtb-8 {
  margin-top: 8px;
}
.p-9 {
  padding: 9px;
}
.mt-9 {
  margin-top: 9px;
}
.mb-9 {
  margin-bottom: 9px;
}
.mtb-9 {
  margin-top: 9px;
}
.p-10 {
  padding: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mtb-10 {
  margin-top: 10px;
}
.p-11 {
  padding: 11px;
}
.mt-11 {
  margin-top: 11px;
}
.mb-11 {
  margin-bottom: 11px;
}
.mtb-11 {
  margin-top: 11px;
}
.p-12 {
  padding: 12px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mtb-12 {
  margin-top: 12px;
}
.p-13 {
  padding: 13px;
}
.mt-13 {
  margin-top: 13px;
}
.mb-13 {
  margin-bottom: 13px;
}
.mtb-13 {
  margin-top: 13px;
}
.p-14 {
  padding: 14px;
}
.mt-14 {
  margin-top: 14px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mtb-14 {
  margin-top: 14px;
}
.p-15 {
  padding: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mtb-15 {
  margin-top: 15px;
}
.p-16 {
  padding: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mtb-16 {
  margin-top: 16px;
}
.p-17 {
  padding: 17px;
}
.mt-17 {
  margin-top: 17px;
}
.mb-17 {
  margin-bottom: 17px;
}
.mtb-17 {
  margin-top: 17px;
}
.p-18 {
  padding: 18px;
}
.mt-18 {
  margin-top: 18px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mtb-18 {
  margin-top: 18px;
}
.p-19 {
  padding: 19px;
}
.mt-19 {
  margin-top: 19px;
}
.mb-19 {
  margin-bottom: 19px;
}
.mtb-19 {
  margin-top: 19px;
}
.p-20 {
  padding: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mtb-20 {
  margin-top: 20px;
}
.p-21 {
  padding: 21px;
}
.mt-21 {
  margin-top: 21px;
}
.mb-21 {
  margin-bottom: 21px;
}
.mtb-21 {
  margin-top: 21px;
}
.p-22 {
  padding: 22px;
}
.mt-22 {
  margin-top: 22px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mtb-22 {
  margin-top: 22px;
}
.p-23 {
  padding: 23px;
}
.mt-23 {
  margin-top: 23px;
}
.mb-23 {
  margin-bottom: 23px;
}
.mtb-23 {
  margin-top: 23px;
}
.p-24 {
  padding: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mtb-24 {
  margin-top: 24px;
}
.p-25 {
  padding: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mtb-25 {
  margin-top: 25px;
}
.p-26 {
  padding: 26px;
}
.mt-26 {
  margin-top: 26px;
}
.mb-26 {
  margin-bottom: 26px;
}
.mtb-26 {
  margin-top: 26px;
}
.p-27 {
  padding: 27px;
}
.mt-27 {
  margin-top: 27px;
}
.mb-27 {
  margin-bottom: 27px;
}
.mtb-27 {
  margin-top: 27px;
}
.p-28 {
  padding: 28px;
}
.mt-28 {
  margin-top: 28px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mtb-28 {
  margin-top: 28px;
}
.p-29 {
  padding: 29px;
}
.mt-29 {
  margin-top: 29px;
}
.mb-29 {
  margin-bottom: 29px;
}
.mtb-29 {
  margin-top: 29px;
}
.p-30 {
  padding: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mtb-30 {
  margin-top: 30px;
}
